[submodule "rpi_ws281x"]
	path = rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "log"]
	path = log
	url = https://github.com/rxi/log.c.git
[submodule "mosquitto"]
	path = mosquitto
	url = https://github.com/eclipse/mosquitto.git
